BACKEND_POSTGRES_HOST=localhost
BACKEND_POSTGRES_PORT=5432
BACKEND_POSTGRES_DB=vkgifs
BACKEND_POSTGRES_USER=yepIwt
BACKEND_POSTGRES_PASSWORD=bolshie_kurtki
BACKEND_APP_MODE=DEBUG
BACKEND_SYNC_TOKEN=mysecret
BACKEND_SENTRY_DSN=https://.../...