BACKEND_POSTGRES_HOST=localhost
BACKEND_POSTGRES_PORT=5432
BACKEND_POSTGRES_DB=vkgifs
BACKEND_POSTGRES_USER=yepIwt
BACKEND_POSTGRES_PASSWORD=bolshie_kurtki
APP_MODE=DEBUG
BACKEND_SENTRY_DSN=https://.../...